<div class="wrap">
	<div class="home-container">
		<h1>Nick Haskins</h1>
		<%= image_tag 'https://s3-us-west-2.amazonaws.com/nphaskins/avatar.jpg', class:'avatar media' %>
		<ul class="links">
			<li>Facebook: <%= link_to 'nphaskins', 'http://facebook.com/nphaskins' %></li>
			<li>Twitter: <%= link_to '@nphaskins', 'http://twitter.com/nphaskins' %></li>
			<li>Email: <%= mail_to '@nphaskins', 'nphaskins@gmail.com' %></li>
		</ul>
	</div>
</div>
<div class="bg-img"></div>