.navigation {
	background:#333;
	color:$off-white;
	position:fixed;
	z-index:2;
	top:0;
	left:0;
	width:100%;

	li {
		display:inline-block;

		a {
			padding:10px;
			color:$off-white;
			font-weight:normal;
			font-size:$font-size-small;
		}
	}
}