article {
	max-width:700px;
	margin:$padding-lg auto;
	@extend .white-back;

	header {
		text-align:center;
		margin-bottom:$padding;

		h2 + p {
			font-size:$font-size-small;
			font-style:italic;
		}
	}
}

.post-container {
	z-index:1;
	position:relative;
}