.white-back {
	background:rgba(255,255,255,0.7);
	padding:$padding;
	border-radius:2px;
	border:1px solid rgba(255,255,255,0.8);
	box-shadow:0 0 8px rgba(0,0,0,0.15);
}

.avatar {
	border-radius:3px;
	max-width:68px;
	border:1px solid rgba(0,0,0,0.15);
	box-shadow:1px 1px 1px rgba(0,0,0,0.15);
	margin:0 auto $padding;
}